:root {
	--text-color: #3e3b3f;
	--background-color: #f8f8f0;
	--link-base: #0000ee;
	--link-visited: #551a8b;
	--link-active: #ee0000;
}
@media (prefers-color-scheme: dark) {
	.ostheme {
		--text-color: #f8f8f0;
		--background-color: #2b292e;
		--link-base: #99CCFF;
		--link-visited: #3399FF;
		--link-active: #e6db74;
		color: var(--text-color);
		background-color: var(--background-color);
	}
}
@media (prefers-color-scheme: light) {
	.ostheme {
		--text-color: #3e3b3f;
		--background-color: #f8f8f0;
		--link-base: #0000ee;
		--link-visited: #551a8b;
		--link-active: #ee0000;
		color: var(--text-color);
		background-color: var(--background-color);
	}
}
.osdark {
	--text-color: #f8f8f0;
	--background-color: #2b292e;
	--link-base: #99CCFF;
	--link-visited: #3399FF;
	--link-active: #e6db74;
	color: var(--text-color);
	background-color: var(--background-color);
}
.oslight {
	--text-color: #3e3b3f;
	--background-color: #f8f8f0;
	--link-base: #0000ee;
	--link-visited: #551a8b;
	--link-active: #ee0000;
	color: var(--text-color);
	background-color: var(--background-color);
}


.dark {
	each(range(0, 360, 10), {
		--color-@{value}: darken(hsl(@value, 100%, 50%), 20%);
		&.color-c-@{value},
		& .color-c-@{value} {color: contrast(darken(hsl(@value, 100%, 50%), 20%));}
	})
}
.darkness {
	each(range(0, 360, 10), {
		--color-@{value}: darken(hsl(@value, 100%, 50%), 40%);
		&.color-c-@{value},
		& .color-c-@{value} {color: contrast(darken(hsl(@value, 100%, 50%), 40%));}
	})
}
.light {
	each(range(0, 360, 10), {
		--color-@{value}: lighten(hsl(@value, 100%, 50%), 20%);
		&.color-c-@{value},
		& .color-c-@{value} {color: contrast(lighten(hsl(@value, 100%, 50%), 20%));}
	})
}
.aurora {
	each(range(0, 360, 10), {
		--color-@{value}: lighten(hsl(@value, 100%, 50%), 40%);
		&.color-c-@{value},
		& .color-c-@{value} {color: contrast(lighten(hsl(@value, 100%, 50%), 40%));}
	})
}
.gray {
	&.darkness, & .darkness {
		each(range(0, 360, 10), {--color-g-@{value}: greyscale(darken(hsl(@value, 100%, 50%), 40%));})
	}
	&.dark, & .dark {
		each(range(0, 360, 10), {--color-g-@{value}: greyscale(darken(hsl(@value, 100%, 50%), 20%));})
	}
	&.light, & .light {
		each(range(0, 360, 10), {--color-g-@{value}: greyscale(lighten(hsl(@value, 100%, 50%), 20%));})
	}
	&.aurora, & .aurora {
		each(range(0, 360, 10), {--color-g-@{value}: greyscale(lighten(hsl(@value, 100%, 50%), 40%));})
	}

	each(range(0, 360, 10), {
		--color-@{value}: greyscale(hsl(0, 100%, unit(100/360*@value, ~"%")));

		&.color-c-@{value},
		& .color-c-@{value} {color: contrast(greyscale(hsl(0, 100%, unit(100/360*@value, ~"%"))));}
	})
}

each(range(0, 360, 10), {
	.bg-@{value} {background-color: var(~"--color-@{value}", hsl(@value, 100%, 50%));}
	.color-@{value} {color: var(~"--color-g-@{value}", var(~"--color-@{value}", hsl(@value, 100%, 50%)));}
	.color-c-@{value} {color: var(~"--color-g-@{value}", var(~"--color-@{value}",contrast(hsl(0, 100%, unit(100/360*@value, ~"%")))));}
})

